[flake8]
# Exclude dirs pour ignorer libs tierces et noise (venv, git, etc.)
ignore = W503, E501
exclude =
    .venv,
    .git,
    __pycache__,
    *.pyc,
    *.egg-info,
    .cache,
    .eggs,
    build,
    dist
# Max line pour compat Black (default 88 vs PEP8 79)
max-line-length = 88